<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Parking System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home", root_path, class:"nav-link active aria-current page" %>
        </li>
      </ul> 
    </div>
  </div>
</nav>
<div class="container">
  <h1 class="h1_new">Add Car</h1>
<%= link_to "Back to the Index Page", employee_index_path %>
  <%=form_for @vec, url: "/employee", method: :post do |f| %>


  <label><b>Vehicle Number</b></label><br>

    <%= f.text_field :number %> <br><br>

    <label><b>Model No.</b></label><br>

    <%= f.text_field :car_model_name %> <br>

    <div class="form-button">	

      <%= f.submit "Parking In",  :class => "button"%> 
  </div>

  <% end %>
  