<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
<%= link_to "Back to the Index Page", admin_page_index_path, class: "link1" %>
<div class="subject_delete">
  <h1 class="text-center">Delete Employee</h1>
  <%=form_for @employee, url: admin_page_path(@employee), :method => 'delete' do |f| %>
    <p><%= flash.alert = "Are you sure you want to fire \"#{@employee.name}\"?"%></p>
    <div class="form-button">
      <%= f.submit "Fired Employee",  :class => "button"%> 
    </div>
  <% end %>  
</div>