<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
<% if !flash[:notice].blank?%>
		<div class="notice">
			<%= flash[:notice]%>
		</div>
<%end%>
<div class="col-lg-12">
	<h1 class="card-title text-center">Parking Management System</h1>
	<br>
	<%= link_to "Add Floor", "/newfloor", class: "link" %>
	<%= link_to "Add Slot", "/newslot", class: "link" %>
	<%= link_to "Assign Floor", "/assignfloor", class: "link" %>
	<%= link_to "Add new Employee / User", "admin_page/new", class: "link1" %>
	<%= link_to "Search the Vehicle", "admin_page/search", class: "link1 link2" %>
	<h3 class="mt-4 mb-4 text-center">Employees List</h3>
	<% if @emp.include? ("employee") %>
		<% @employee.each do |emp|%>
			<div class="row">
				<div class="col-lg-4">
					<div class="card shadow mb-3 mt-3">
						<div class="card-body">
								<h4 class="card-title"><%=emp.name.camelize %></h4>
								<%= link_to "Cars", admin_page_path(emp.id), class:"btn btn-danger btn-lg"%>
								<%= link_to "Update Employee", edit_admin_page_path(id: emp.id), class:"btn btn-primary btn-lg"%>
								<%= link_to "Fired", admin_page_delete_path(emp.id), class:"btn btn-danger btn-lg"%>
						</div>
					</div>
				</div>
			</div>
		<%end%>
	<% else%>
		<h2 class="text-center">There are no employee present in your organization</h2>
	<%end%>
</div>













