<%= link_to "Back to the Index Page", admin_page_index_path, class:"link1" %>
<% if !flash[:notice].blank?%>
		<div class="notice">
			<%= flash[:notice]%>
		</div>
<%end%>
<br><br>
<div class="container">
  <br>
  <h1 class="h1_new">Create Floor</h1>

  <%=form_with url: "/createfloor", method: :post do |f| %>
    <label><b>Number of Floor</b></label><br>
    <%= f.number_field :number %> <br>
    <br>
    <div class="form-button">
      <%= f.submit "Add Floor",  :class => "button"%>
  </div>
  <br>
  <% end %>
</div>