<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
<%= link_to "Back to the Index Page", admin_page_index_path, class: "link1" %>
<%count = 0%>
<% tab = 2%>
<div class="subjects_show">
    <% if !flash[:notice].blank?%>
		<div class="notice">
			<%= flash[:notice]%>
		</div>
    <%end%>
    <div class="table_content">
      <table class="listing table_view">
        <tr>  
                <tr>
                    <td><b>Functions</b></td>  
                  <td><b><p>Show Subject</p></b></td>
                </tr>

                <tr>
                    <th>Name</th>
                    <td><%= @employee.name %></td>
                </tr>
                <tr>
                  <th>Email</th>
                  <td><%= @employee.email %></td>
                </tr>
                <tr>
                  <th>Cars</th>
                  <td><%= @vec%></td>
                </tr>
                    <th>Created At</th>
                    <td><%= @employee.created_at %></td>
                </tr>
                <tr>
                    <th>Updated At</th>
                    <td><%= @employee.updated_at %></td>
                </tr>
              </tr>
      </table>
    </div>
</div>